@use '../../../assets/modules/colors'as *;

.jumbotron-holder {
  background-image: url("../../../assets/img/cartoon.jpg");
  background-repeat: repeat;
}

.row {
  background-color: $primary-color;
}

.error-message {
  font-style: italic;
  font-size: 0.8em;
  color: $card-button;
  margin-top: 1rem;
  animation: fadeIn ease 2s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.fa-refresh {
  animation: rotate 1s infinite;
}
