@use '../../../assets/modules/colors.scss'as *;


.jumbotron {

  background-color: $primary-color;
  position: relative;
  z-index: 2;

  &-holder {
    background-image: url("../../../assets/img/cartoon.jpg");
    background-size: cover;
    height: 100vh;
    width: 100%;
  }
}

.btn-primary {
  background-color: $button-hover;
  transition: all .2s ease-in-out;

    &:hover {
      color: $secondary-color;
      transform: scale(1.1);
    }
}
