<div class="text-center pt-4">
  <button class="btn btn-primary btn-lg" routerLink="/superheroes">Get the list</button>
</div>

<div class="col-12 mt-4">
  <div class="container d-flex justify-content-center">
    <form class="form-inline my-2 my-lg-0 py-2 d-flex justify-content-center">
      <input (keyup)="searchEvent($event)" class="search-input form-control mr-sm-2" type="text"
        placeholder="Search">
      <button class="btn btn-primary my-2 my-sm-0" type="submit">Search by Name</button>
    </form>
  </div>
</div>

<div class="row mt-2">
  <div class="col-12">
    <nav class="d-flex justify-content-center">
      <ul class="pagination text-center">
        <li class="page-item">
          <a (click)="onStepPage($event, -1)" class="page-link" href="#">«</a>
        </li>
        <li
          *ngFor="let btn of paginator"
          class="page-item"
          [class.active]="btn.page === currentPage"
        >
          <a (click)="onPaginate($event, btn)" class="page-link" href="#"
            >{{ btn.page }}
          </a>
        </li>
        <li class="page-item">
          <a (click)="onStepPage($event, +1)" class="page-link" href="#">»</a>
        </li>
      </ul>
    </nav>
  </div>
</div>

<h1 class="text-center h2 pt-4">Superheroes</h1>
<div class="row mx-4">
  <div *ngFor="let superhero of list$ | async | filterByName: phrase | slice: pageSliceStart:pageSliceEnd" class="card-group col-md-6 col-lg-4 col-xl-3">
    <div class="card my-4">
      <img class="card-img-top" src="{{ superhero.images.md }}" alt="{{ superhero.name }}" />
      <div class="card-body">
        <h5 class="card-title text-center mb-2">{{ superhero.name }}</h5>
        <div class="card-text">
          <div>
            <div class="text-center">{{ superhero.slug }}</div>
            <div class="mt-2">
              <strong>Powerstats:</strong>
            </div>
            Intelligence: {{ superhero.powerstats.intelligence }}
            <br>
            Strength: {{ superhero.powerstats.intelligence }}
            <br>
            Speed: {{ superhero.powerstats.intelligence }}
            <br>
            Power: {{ superhero.powerstats.intelligence }}
            <br>
            Combat: {{ superhero.powerstats.intelligence }}
            <div class="mt-2">
              <strong>Occupation:</strong> {{ superhero.work.occupation }}
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer text-center ">
        <small class="text-muted"><strong>{{ superhero.biography.publisher }}</strong></small>
      </div>
    </div>
  </div>
</div>
