@use '../../../assets/modules/colors'as *;

.jumbotron-holder {
  background-image: url("../../../assets/img/cartoon.jpg");
  background-image: cover;
  height: 100vh;
  width: 100%;
}

.row {
  background-color: $primary-color;
  margin: 0 15%;
}
