<body>


<div class="ghost">

    <div class="ghost--columns">
      <div class="ghost--column">
        <div class="code"></div>
        <div class="code"></div>
        <div class="code"></div>
        <div class="code"></div>
      </div>
      <div class="ghost--column">
        <div class="code"></div>
        <div class="code"></div>
        <div class="code"></div>
        <div class="code"></div>
      </div>
      <div class="ghost--column">
        <div class="code"></div>
        <div class="code"></div>
        <div class="code"></div>
        <div class="code"></div>
      </div>

    </div>
    <div class="ghost--main">
      <div class="code"></div>
      <div class="code"></div>

    </div>

    <div class="d-flex justify-content-center">
    <h1 class="police-tape police-tape--1">Error: 401</h1>
    <h1 class="police-tape police-tape--2">Forbidden</h1>

    <button class="btn btn-primary btn-lg py-3 px-5" routerLink="/login">
      Login
    </button>
  </div>
  </div>


</body>
