$primary-color: #faf5ae;
$secondary-color: #eedf16;

$button-hover: #443f3f;

$card-background: #161c2d;
$card-button: #df4a4a;

$shadow: #00000080;

$white: #fff;

$dark-grey: #111111;
$lighter-grey: #27292d;

$police-tape: #e2bb2d;

$green-outline: #2ecc71;
$blue-outline: #3498db;
