<div class="container-fluid p-4">

  <div class="row">
    <div class="col-12">
      <nav class="d-flex justify-content-end">
        <ul class="pagination">
          <li class="page-item">
            <a (click)="onStepPage($event, -1)" class="page-link" href="#"><</a></li>
          <li *ngFor="let btn of paginator" class="page-item" [class.active]="btn.page === currentPage">
            <a (click)="onPaginate($event, btn)" class="page-link" href="#">
              {{ btn.page }}
            </a>
          </li>
          <li class="page-item">
            <a (click)="onStepPage($event, +1)" class="page-link" href="#">></a></li>
        </ul>
      </nav>
    </div>
  </div>

  <div class="table-responsive">
    <table class="table table-striped table-dark">
      <thead>
        <tr>
          <th *ngFor="let col of tableColumns">{{ col.title }}</th>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <th *ngFor="let col of tableColumns">{{ col.title }}</th>
        </tr>
      </tfoot>
      <tbody>
        <tr *ngFor="let row of list$ | async | slice:pageSliceStart:pageSliceEnd">
          <td *ngFor="let col of tableColumns">
            {{ row[col.key] | xPipe: col.pipes:col.pipeArgs }}
            <!--<span *ngIf="!col.outputTransform && !col.htmlOutput">
              {{ row[col.key] | xPipe:col.pipes:col.pipeArgs }}
             </span>
            <span *ngIf="col.outputTransform">
              {{ col.outputTransform(row[col.key]) }}
            </span>
            <span *ngIf="col.htmlOutput" [innerHTML]="col.htmlOutput(row[col.key])">
            </span>-->
          </td>
          <td>
            <div class="btn-group">
              <button [routerLink]="[row._id]" class="btn btn-info">
                <i class="fa fa-pencil"></i>
              </button>
              <button (click)="onDelete(row)"
              class="btn btn-danger">
                <i class="fa fa-trash"></i>
              </button>
            </div>
          </td>

        </tr>
      </tbody>
    </table>
  </div>
</div>
